@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow: hidden;
    overflow-y: auto;
    --tw-bg-opacity: 1;
    background-color: rgba(30, 31, 33, var(--tw-bg-opacity));
  }
  .markdown-viewer {
  }
}
